<main class="flex flex-col overflow-y-auto bg-base-300">
  <section class="">
    <div class="container mx-auto px-4 my-auto pt-6">
      <div class="grid gap-8">
        <div class="grid gap-4">
          <div class="flex items-center justify-between">
            <h2 class="text-2xl font-bold">Foto de perfil</h2>
            <label for="upload-image" class="cursor-pointer">
            </label>
            <input id="upload-image" type="file" accept="image/*" class="hidden" />
          </div>
          <div class="flex flex-col items-center gap-4">
            <a class="relative cursor-pointer">
              <span class="relative flex h-32 w-32 shrink-0 overflow-hidden rounded-full">
                <img alt="Image perfil" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </span>
            </a>
            <p class="text-gray-400">Click en la imagen para cambiarla.</p>
          </div>
        </div>
        <div class="grid gap-4">
          <div class="flex items-center justify-between">
            <h2 class="text-2xl font-bold">Nombre de usuario</h2>
          </div>
          <div class="grid gap-2">
            <label
              class="text-base font-medium"
              for="username"
            >
              Ingresa tu nombre de usuario
            </label>
            <input
              class="flex h-10 w-full rounded-md bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50"
              id="username"
              value="johndoe"
            />
          </div>
        </div>
        <div class="grid gap-2">
          <div class="flex items-center justify-between">
            <h2 class="text-2xl font-bold">Descripción</h2>
          </div>
          <div class="grid gap-2">
            <label
              class="text-base font-medium"
              for="description"
            >
              Actualiza tu descripción
            </label>
            <textarea class="flex min-h-[80px] w-full rounded-md bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50"></textarea>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <button class="btn btn-primary mt-4">Guardar información</button>
      </div>
    </div>
  </section>
</main>