<div class="flex flex-row h-screen bg-base-300">

  <section [class.hidden]="showProfile"  class="flex flex-col w-2/4 bg-base-300 h-full">
    <header>
      <app-navbar (profileSelected)="toggleProfile()" (homeSelected)="showChats()" />
      <div class="flex-row space-x-2 py-2 px-6">
        <button class="btn rounded-full w-[5rem] text-sm btn-ghost focus:bg-primary focus:text-black">Chats</button>
        <button class="btn rounded-full w-[5rem] text-sm btn-ghost focus:bg-primary focus:text-black">Grupos</button>
        <button class="btn rounded-full w-[7rem] text-sm btn-ghost focus:bg-primary focus:text-black">No leidos</button>
      </div>
      <hr class="border-slate-600">
    </header>
    <main class="flex-1 overflow-auto bg-base-300 custom-scrollbar">
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
      <app-conversation />
    </main>
  </section>

  <section [class.hidden]="!showProfile" class="w-2/4 h-full">
    <app-navbar class=""
      (profileSelected)="toggleProfile()" 
      (homeSelected)="showChats()" />
    <app-profile 
    class="border-r border-slate-600 h-full transition-all animate-fade-right" />
  </section>

  <section class="w-full h-full">
    <app-chat />
  </section>
</div>